
/* Color schemes */

.demo-2 {
	--color-text: #fff;
    --color-bg: #000;
    --color-link: #fff;
    --color-link-hover: #37dbff;
    --color-stitle: #eaff68;
    --fontsize-stitle: 5vw;
    --color-sdesc: #fff;
    --color-slink: #f1f1f1;
    --color-slink-hover: #000;
    --color-slink-bg: #000;
    --color-slink-hover-bg: #37dbff;
    --color-nav: #f1f1f1;
    --color-nav-hover: #37dbff;
}


/* Fade effect */


/* Page Loader */
.js .loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
	outline: none;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}






/* Top Navigation Style */
.slideshow {
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
}

.slides {
	position: absolute;
	width: 100%;
	height: 100%;
}

.slide {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	opacity: 0;
	pointer-events: none;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	align-items: center;
}

.slide--current {
	opacity: 1;
	pointer-events: auto;
}

.slide__img {
	position: absolute;
	top: -200px;
	left: -200px;
	width: calc(100% + 400px);
	height: calc(100% + 400px);
	background-size: cover;
	background-position: 50% 50%;
}

.slidenav {
	position: absolute;
	width: 300px;
	margin-left: -150px;
	left: 50%;
	bottom: 0;
	text-align: center;
	padding: 2em;
}

.slidenav__item {
	border: 0;
	background: none;
	font-weight: bold;
	color: var(--color-nav);
}

.slidenav__item:focus {
	outline: none;
}

.slidenav__item:hover {
	color: var(--color-nav-hover);
}

.shape {
	position: absolute;
	width: 100%;
	height: 100%;
	fill: var(--color-shape-fill);
	top: 0;
	pointer-events: none;
}

.slide__title {
	position: relative;
	font-size: var(--fontsize-stitle);
	margin: 0;
	cursor: default;
	line-height: 1;
	color: var(--color-stitle);
}

.slide__desc {
	position: relative;
	font-size: 1.5em;
	margin: 2em 0 2em 0;
	cursor: default;
	color: var(--color-sdesc);
	padding: 0 1em;
	text-align: center;
}

.slide__link {
	position: relative;
	font-size: 1em;
	font-weight: bold;
	padding: 1em 2em;
	display: block;
	color: var(--color-slink);
	background: var(--color-slink-bg);
	transition: color 0.3s, background 0.3s;
}

.slide__link:hover {
	color: var(--color-slink-hover);
	background: var(--color-slink-hover-bg);
}

